<mat-toolbar color="primary" class="example-toolbar" style="margin-bottom: 1rem;">
	<button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
	<h1 class="example-app-name" style="margin-bottom: 0;">Sandbox</h1>
</mat-toolbar>

<mat-sidenav-container class="example-container" autosize style="height: 100%;">
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
        <ng-container class="full-width" *ngIf="isExpanded || isShowing">
            <mat-list role="list">
                <mat-list-item role="listitem"><a routerLink="/counter" routerLinkActive="active" ariaCurrentWhenActive="page">Counter</a></mat-list-item>
                <mat-list-item role="listitem"><a routerLink="/assignment" ariaCurrentWhenActive="page">Assignment</a></mat-list-item>
            </mat-list>
        </ng-container>
	</mat-sidenav>

	<div class="example-sidenav-content">
		<router-outlet></router-outlet>
	</div>

</mat-sidenav-container>

<!-- <app-my-counter></app-my-counter>
<app-assignment></app-assignment> -->